<a href="https://colab.research.google.com/github/Papitasrancheras/Analitica-de-datos-/blob/main/Extracci%C3%B3n_ejercicio1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [19]:
#Instalación de librerías 
!pip install pandas
!pip install numpy
!pip install matplotlib

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.3.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.21.6)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2022.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (1.21.6)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: matplotlib in /usr/local/lib/python3.7/dist-packages (3.2.2)
Requirement already satisfied: numpy>=1.11 in /usr/local/lib/python3.7/dist-packages (from matplotlib) (1.21.6)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib) (0.11.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib) (3.0.9)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib) (2.8.2)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib) (1.4.4)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from kiwisolver>=1.0.1->matplotlib) (4.1.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.1->matplotlib) (1.15.0)

In [20]:
#Importar archivos de datos
from google.colab import files 
uploaded = files.upload()

Saving file.csv to file (1).csv

In [38]:
#Importamos la librería pandas 
import pandas as pd
import io

#Leemos el contenido del archivo 
df = pd.read_csv(io.BytesIO(uploaded["file.csv"]), index_col=2)
df.info()
df

<class 'pandas.core.frame.DataFrame'>
Index: 4554 entries, Nacional to Zacatecas
Data columns (total 6 columns):
 #   Column                                           Non-Null Count  Dtype
---  ------                                           --------------  -----
 0   Periodo                                          4554 non-null   int64
 1   Trimestre                                        4554 non-null   int64
 2   Sexo                                             4554 non-null   object
 3   Poblacion_ocupada_en_la_industria_manufacturera  4554 non-null   object
 4   Poblaci n_ocupada                                4554 non-null   object
 5   Tasa_de_ocupaci n_en_la_industria_manufacturera  4554 non-null   object
dtypes: int64(2), object(4)
memory usage: 249.0+ KB

,Periodo,Trimestre,Sexo,Poblacion_ocupada_en_la_industria_manufacturera,Poblaci n_ocupada,Tasa_de_ocupaci n_en_la_industria_manufacturera
Entidad_Federativa,,,,,,
Nacional,2005,1,Hombres,4384907,26597801,16.485975660000000000000
Nacional,2005,1,Mujeres,2690296,14843275,18.124679360000000000000
Aguascalientes,2005,1,Hombres,56407,246177,22.913188480000000000000
Aguascalientes,2005,1,Mujeres,28430,145656,19.518591750000000000000
Baja California,2005,1,Hombres,167651,768989,21.801482210000000000000
...,...,...,...,...,...,...
Veracruz,2022,1,Mujeres,107640,1190733,9.0398099320000000000000
Yucat n,2022,1,Hombres,101992,691397,14.751582670000000000000
Yucat n,2022,1,Mujeres,82759,478943,17.279509250000000000000
Zacatecas,2022,1,Hombres,44105,402326,10.962503040000000000000
Zacatecas,2022,1,Mujeres,39472,255761,15.43315830000000000000

In [ ]:
# Filtros básicos para variables cualitativas 
# Flitro por objeto 
filtro1=df[df["Entidad_Federativa"] == "Puebla"]
filtro1

In [ ]:
#Filtrado por filas
#Por rangos
#filtro2=df.iloc[50:550, :]
#No consecutivas 
filtro2=df.iloc[[1000,2000,3000], :]
filtro2

In [ ]:
#Filtro por columnas 
#Consecutivas 
filtro3=df.iloc[ : 2:5]
filtro3
#No consecutivas 
filtro4=df.iloc[ : 2:5]

In [44]:
#Filtro de filas vs columnas (Para la apliación de este filtro es necesario tener una fila índice
filtro4=df.loc[["Puebla","Durango"],["Poblacion_ocupada_en_la_industria_manufacturera"]]
filtro4

                   Poblacion_ocupada_en_la_industria_manufacturera
Entidad_Federativa
Puebla                                                      230487
Puebla                                                      188720
Puebla                                                      236459
Puebla                                                      190831
Puebla                                                      233484
...                                                            ...
Durango                                                      53354
Durango                                                      82494
Durango                                                      57450
Durango                                                      79715
Durango                                                      55750

[276 rows x 1 columns]

In [ ]:
#Filtro por cabecera 
filtro5=df.head()
filtro5

In [ ]:
#Filtros básicos para variables cuantitativas
#Filtro por comparación 
filtro6=df[df["Periodo"] >= 2006]
filtro6

In [51]:
#Filtros con conectores lógicos 
#Filtro Y
filtro7=df[(df["Periodo"] > 2006) & (df["Sexo"] == "Mujeres")]
filtro7

,Periodo,Trimestre,Sexo,Poblacion_ocupada_en_la_industria_manufacturera,Poblaci n_ocupada,Tasa_de_ocupaci n_en_la_industria_manufacturera
Entidad_Federativa,,,,,,
Nacional,2007,1,Mujeres,2798066,16239553,17.229944690000000000000
Aguascalientes,2007,1,Mujeres,31485,162275,19.402249270000000000000
Baja California,2007,1,Mujeres,112553,450574,24.979914510000000000000
Baja California Sur,2007,1,Mujeres,6298,87290,7.2150303590000000000000
Campeche,2007,1,Mujeres,14502,114970,12.613725320000000000000
...,...,...,...,...,...,...
Tamaulipas,2022,1,Mujeres,148943,624871,23.835799710000000000000
Tlaxcala,2022,1,Mujeres,63801,241052,26.46773310000000000000
Veracruz,2022,1,Mujeres,107640,1190733,9.0398099320000000000000
Yucat n,2022,1,Mujeres,82759,478943,17.279509250000000000000
Zacatecas,2022,1,Mujeres,39472,255761,15.43315830000000000000

In [ ]:
#Filtro o 
filtro8=df[(df["Periodo"] > 2020  (df)["Sexo"] == "Hombre")]

In [ ]:
#Filtro not 
filtro9=df[cosito(df["Periodo"] > 2020  (df)["Sexo"] == "Hombre")]

In [53]:
#Convertir archivo filtrado a CSV 
filtro7.to_csv("Mujeres2006")

In [ ]:
#Descargar archivos filtrado
from google.colab import files 

files.download("Mujeres2006.csv")